target/
.settings/
.project
.classpath
*.orig
.springBeans
.factorypath
.sts4-cache
.ant-targets-build.xml
src/ant/.ant-targets-upload-dist.xml
*.sonar4clipse*
.DS_Store
*.iml
*.ipr
*.iws
/.idea/
*.graphml
node
node_modules
build
docs/package.json
package-lock.json
.flattened-pom.xml