@import "typography.css";
@import "header.css";
@import "responsive.css";

a:link {
    color: #5fa134;
}
a:hover {
    color: #5fa134;
}
body {
    background-color: #f1f1f1;
}
.table > thead > tr > th {
    background-color: #34302D;
    color: #f1f1f1;
}
.table-filter {
    background-color: #34302D;
    padding: 9px 12px;
}
.nav-tabs .nav-link {
    color: #838789;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover {
    color: #f1f1f1;
    background-color: #34302D;
    border-color: #34302D;
}
.btn-default {
    border-width: 2px;
    transition: border 0.15s;
    -webkit-transition: border 0.15s;
    -moz-transition: border 0.15s;
    -o-transition: border 0.15s;
    -ms-transition: border 0.15s;
    color: #f1f1f1;
    background-color: #34302D;
    border-color: #6db33f;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #34302D;
    border-color: #34302D;
}
.container .text-muted {
    margin: 20px 0;
}
code {
    font-size: 80%;
}
.xd-container {
    margin-top: 40px;
    margin-bottom: 100px;
}
h1 {
    margin-bottom: 15px;
}
.index-page--subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 30px;
}
.form-horizontal button.btn-inverse {
    margin-left: 32px;
}
#job-params-modal .modal-dialog {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
[ng-cloak].splash {
    display: block !important;
}
[ng-cloak] {
    display: none;
}
.splash {
    background: #6db33f;
    color: #34302D;
    display: none;
}
.error-page {
    margin-top: 100px;
    text-align: center;
}
.error-page .error-title {
    font-size: 24px;
    line-height: 24px;
    margin: 30px 0 0;
}
table td {
    vertical-align: middle !important;
}
table td .progress {
    margin-bottom: 0;
}
table td.action-column {
    width: 1px;
}
.help-block {
    color: #f1f1f1;
}
