@media (max-width: 768px) {
    .navbar a.navbar-brand {
        background: url("../images/spring-logo-eureka-mobile.png") 0 center no-repeat;
    }
    .homepage-billboard .homepage-subtitle {
        font-size: 21px;
        line-height: 21px;
    }
    .navbar a.navbar-brand span {
        display: none;
    }
    .navbar {
        border-top-width: 0;
    }
    .xd-container {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .index-page--subtitle {
        margin-top: 10px;
        margin-bottom: 30px;
    }
}
