# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ 3.1.x ]
  pull_request:
    branches: [ 3.1.x ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java: ["8"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - name: Build with Maven
        run: ./mvnw clean install -B -U -P sonar
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: false
